__pycache__
build
_build
examples/*.html
examples/results/collimated_compare/collimated2.html

examples/results/**.html
examples/results/**/*.html
diffinytrace.zip
examples/results/lens_picture/results_classical/results_dict.pkl
examples/results/lens_picture/results_desired_irr_smoothing/results_dict.pkl
examples/results/lens_picture/simpson/results_dict.pkl
.vscode/
diffinytrace.egg-info/
dist/