# Sphinx & core
sphinx==9.1.0
jinja2==3.1.6
docutils==0.22.4

# Theme
furo==2025.12.19

# Extensions used in your config:
sphinxcontrib-bibtex==2.6.5
nbsphinx==0.9.8
sphinx_copybutton==0.5.2
# Notebook toolchain for nbsphinx
jupyter==1.1.1
nbconvert==7.17.0
nbformat==5.7

# Optional but often helpful
# sphinx-autobuild>=2024.4   # live-reload docs while editing


colour-science==0.4.7
matplotlib==3.10.8
numpy==2.3.5
pandas==3.0.1
Pillow==12.0.0
plotly==6.6.0
pvlib==0.15.0
scikit_learn==1.8.0
scipy==1.17.1
tqdm==4.67.3
cadquery==2.7.0
torchmetrics==1.9.0